CONFIG_ENABLE_AI_LANGUAGE_ENGLISH=y
# CONFIG_ENABLE_AI_LANGUAGE_CHINESE is not set
CONFIG_PROJECT_VERSION="1.0.0"
CONFIG_TUYA_PRODUCT_ID="gbq0rbhmrnn3greo"
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_AI_BOARD=y
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_NAME="ai_chat_button"
# CONFIG_ENABLE_COMP_AI_DISPLAY is not set
CONFIG_UART_NUM0_TX_PIN=43
CONFIG_UART_NUM0_RX_PIN=44
CONFIG_ENABLE_ESP32S3_USB_JTAG_ONLY=y
CONFIG_ENABLE_CHAT_BOT_ROBOT_SECOND_UART=y
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_ENABLE_QUADDLE_GAMEPAD=y
CONFIG_ENABLE_QUADDLE_BLE_HID_CENTRAL=y
CONFIG_QUADDLE_BLE_GAMEPAD_NAME_FILTER="bm769,q34b,gamepadspace"
